<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICoverFlow</key>
	<true/>
	<key>UILessonCellStyle</key>
	<integer>0</integer>
	<key>UINavigationColor</key>
	<array>
		<string>0</string>
		<string>0.65625</string>
		<string>0.77734375</string>
		<string>1.0</string>
	</array>
	<key>UILessonPagination</key>
	<false/>
	<key>UILessonPageCountOfiPhone</key>
	<integer>8</integer>
	<key>UILessonPageCountOfiPad</key>
	<integer>15</integer>
	<key>UIShowTranslation</key>
	<true/>
	<key>UITeacherHeadStyle</key>
	<integer>0</integer>
</dict>
</plist>
